<app-header></app-header>
<app-navbar></app-navbar>
<div *ngIf="cat&&prods&&mfrs">
  <div id="cat_title">
    <h1>{{cat.name}}:</h1>
    <p>{{cat.descr}}</p>
  </div>
  <main>
    <div class="card" *ngFor="let p of prods" routerLink="/categories/{{cat.id}}/{{p.id}}">
      <div id="img_wrapper"><img src="{{p.image}}"></div>
      <div class="prod_descr">
        <img src="{{mfrs[p.mfr_id-1].img}}">
        <h3>{{p.name}}</h3><br>
        <p><b>Product type:</b> {{p.sub_cat}}</p>
        <p><b>Description: </b>{{p.descr_short}}</p>
        <p><b>Cost per piece:</b> {{p.price}}$</p>
        <p><b>In stock:</b> {{p.amount}}</p>
        <p *ngIf="p.amount==0" style="color: red"><b>NOT IN STOCK</b></p>
      </div>
    </div>
  </main>
  <div id="new_product" *ngIf="u.type == 2" title="new product" routerLink="/add-product">
    +
  </div>
  <select *ngIf="options" (change)="changePage(pageId)" [(ngModel)]="pageId">
    <option *ngFor="let opt of options" value="{{opt}}">Page: {{opt}}</option>
  </select>
</div>
<app-footer></app-footer>
