nav {
  display : flex;
  flex-direction: row;
  background-color: #0079E8;
  justify-content: space-between;
  color : #FBFCFF;
  padding: 1em 10em;
  margin : 0 !important;
}

#nav-l {
  display : flex;
  flex-direction: row;
  color : inherit;
}

nav a {
  color : inherit;
  padding : 0 .5em;
}
nav a:hover, fa-icon:hover {
  color : #FFC700;
  text-decoration: none;
}

#nav-r {
  display : flex;
  flex-direction: row;
  color : inherit;
}
#nav-cart {
  display: flex;
  cursor: pointer;
}
#nav-signup-mfr {
  display: none;
}
#nav-login-mfr {
  display: none;
}
