<app-header></app-header>
<app-navbar></app-navbar>
<main *ngIf="p && c && m">
  <div id="product-info">
    <img src="{{p.image}}">
    <b>{{p.name}}</b>
    <p><b>Category:</b><a routerLink="/categories/{{p.cat_id}}/"> {{c.name}}</a></p>
    <p><b>Product type:</b> {{p.sub_cat}}</p>
    <span><p><b>Manufacturer:</b> {{m.name}}</p> <img src="{{m.img}}" routerLink="/manufacturers/{{m.id}}"></span>
    <a href="{{p.datasheet}}" target="_blank"><b>Datasheet</b> <fa-icon [icon]="fapdf" style="color:red"></fa-icon></a>
    <p><b>Rating:</b> {{p.rating.toPrecision(2)}}/5 (based on <b>{{p.ratings_num}}</b> ratings)</p>
    <b>Rate the product: </b>
    <div class="star-rating" *ngIf="u.type==1">
      <div class="star-rating__wrap">
        <input class="star-rating__input" id="star-rating-5" type="radio" name="rating" value="5">
        <label class="star-rating__ico" for="star-rating-5" title="5 out of 5 stars"></label>
        <input class="star-rating__input" id="star-rating-4" type="radio" name="rating" value="4">
        <label class="star-rating__ico" for="star-rating-4" title="4 out of 5 stars"></label>
        <input class="star-rating__input" id="star-rating-3" type="radio" name="rating" value="3">
        <label class="star-rating__ico" for="star-rating-3" title="3 out of 5 stars"></label>
        <input class="star-rating__input" id="star-rating-2" type="radio" name="rating" value="2">
        <label class="star-rating__ico" for="star-rating-2" title="2 out of 5 stars"></label>
        <input class="star-rating__input" id="star-rating-1" type="radio" name="rating" value="1">
        <label class="star-rating__ico" for="star-rating-1" title="1 out of 5 stars"></label>
      </div>
      <button>Rate</button>
    </div>

    <div id="main-info">
      <p *ngIf="p.descr">{{p.descr}}</p>
      <p *ngIf="!p.descr">{{p.descr_short}}</p>
      <p><b>Price per piece:</b> {{p.price}}$</p>
      <p><b>Available:</b> {{p.amount}}</p>
      <p><b>Date published:</b> {{p.date}}</p>
      <button id="share" (click)="toggle_share()">Share <fa-icon [icon]="faShare"></fa-icon></button>
      <div id="share-popup" [ngStyle]="{'display' : share_vis,'animation-play-state' : share_state, 'animation-name' : share_anim}" (animationend)="share_anim='none'">
        <div id="share-menu" [ngStyle]="{'animation-play-state' : share_state, 'animation-name' : share_m_anim}" (animationend)="share_m_anim='none'">
          <fa-icon [icon]="faX" id="X" (click)="toggle_share()"></fa-icon>
          <h3>Share via:</h3>
          <span>
          <a (click)="share(0)" title="Telegram"><fa-icon [icon]="faTG"></fa-icon></a>
          <a (click)="share(1)" title="Whatsapp"><fa-icon [icon]="faWA"></fa-icon></a>
          <a (click)="share(2)" title="Facebook"><fa-icon [icon]="faFB"></fa-icon></a>
          <a (click)="share(3)" title="Copy link"><fa-icon [icon]="faChain"></fa-icon></a>
          </span>
        </div>
      </div>
      <div id="message" [ngStyle]="{'animation-play-state' : msg_vis, 'background-color' : msg_clr, 'animation-name' : msg_anim}" (animationend)="msg_anim='none'">
        <b>{{msg_text}}</b>
      </div>
    </div>
  </div>
  <div id="payment-info" *ngIf="u.type==1">
    <span><label for="quantity">Enter quantity: </label>
    <input disabled="{{p.amount==0}}" type="number" name="amount" id="quantity" min="1" max="{{p.amount}}" value="1" [(ngModel)]="q"></span>
    <button [disabled]="p.amount==0" class="orange" (click)="addToCart(p,q)">Add to cart</button>
  </div>
  <div id="comment-section">
    <h3>Leave a comment:</h3>
    <form>
      <span id="avatar"><img src="{{u.img}}" *ngIf="u.img"><fa-icon [icon]="fauser"  *ngIf="!u.img"></fa-icon></span>
      <textarea cols="100" rows="5" maxlength="500"></textarea>
      <button>Send</button>
    </form>
  </div>
</main>
<app-footer></app-footer>
