<app-header></app-header>
<app-navbar></app-navbar>
<main *ngIf="p && c && m">
  <div id="product-info">
    <img src="{{p.image}}">
    <b>{{p.name}}</b>
    <p><b>Category:</b> {{c.name}}</p>
    <p><b>Product type:</b> {{p.sub_cat}}</p>
    <span><p><b>Manufacturer:</b> {{m.name}}</p> <img src="{{m.img}}" routerLink="/manufacturers/{{m.id}}"></span>
    <a href="{{p.datasheet}}"><b>Datasheet</b> <fa-icon [icon]="fapdf" style="color:red"></fa-icon></a>
    <p><b>Rating:</b> {{p.rating}}/5</p>
    <button><fa-icon [icon]="faShare"></fa-icon></button>
    <div id="main-info">
      <p *ngIf="p.descr">{{p.descr}}</p>
      <p *ngIf="!p.descr">{{p.descr_short}}</p>
      <p><b>Price per piece:</b> {{p.price}}$</p>
      <p><b>Available:</b> {{p.amount}}</p>
      <p><b>Date published:</b> {{p.date}}</p>
    </div>
  </div>
  <div id="payment-info">
    <input type="number" name="amount">
    <select>
      <option *ngFor="let s of shipments">{{s.name}} - {{s.price}}</option>
    </select>
    <button>Add to cart</button>
  </div>
  <div id="comment-section">
    <img src="{{u.img}}" *ngIf="u.img"><fa-icon [icon]="fauser"  *ngIf="!u.img"></fa-icon>
    <input type="text" name="com" maxlength="255">
    <button>Send</button>
  </div>
</main>
<app-footer></app-footer>
