main {
  display: flex;
  flex-direction: column;
}

#hero-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-image: url("../../assets/robin-glauser-zP7X_B86xOg-unsplash.jpg");
  background-size: cover;
  width: 100%;
  height : 30em;
}
#hero {
  width : 65%;
  display: inline-block;
  border-radius: .5em;
  margin-top: 2em;
  padding: 1em;
  backdrop-filter: brightness(70%) blur(.5em);
}
#hero *{
  text-align: center;
  color : #FBFCFF;
  padding-bottom: 1em;
}
#hero h1{
  font-size : 4rem;
}
#hero p{
  font-size: 2rem;
}

.cat:nth-of-type(2n) {
  background-color: #DDDDDD;
}

.cat h3 {
  color : #006ED3;
  padding-bottom: 1em;
}
.cat {
  padding : 1em .5em;
}

#partnership {
  display : flex;
  flex-direction: row;
}
#partnership p {
  display: inline-block;
  flex-grow: 2;
  max-width: 70%;
  padding-right: .5em;
}
#partnership img {
  display: inline-block;
  max-width: 30%;
  border-radius: .5em;
}
