<app-header></app-header>
<app-navbar></app-navbar>
<main>
  <div id="hero-wrapper">
    <div id="hero">
      <h1>Wired World</h1>
      <p>Number 1 Kazakhstan's electronics distributor</p>
    </div>
  </div>
  <div id="cats">
    <div class="cat">
      <h3>Featured manufacturers</h3>
    </div>
    <div class="cat">
      <h3>Newest products</h3>
    </div>
    <div class="cat">
      <h3>Product categories</h3>
    </div>
    <div class="cat">
      <h3>About us</h3>
      <p>Wired World&trade; is an electronics distribution company founded in Kazakhstan in the year 2077.
      We cooperate with a plethora of different respected manufacturers all around the globe to provide you
      with electronic parts <b>YOU</b> need!</p>
    </div>
    <div class="cat">
      <h3>Become Wired World's trusted manufacturer</h3>
      <div id="partnership">
        <p>Wired World cooperates with more than 100 manufacturers around the world. An electronics
        manufacturer company must be RoHS compliant as well as comply with other terms and conditions.
        To become our official partner an official representative has to fill in a set of documents
        outlined <a>here</a>.</p>
        <img src="../../assets/38826275042_abcea30792_b.jpg">
      </div>
    </div>
  </div>
</main>
<app-footer></app-footer>
