<footer>
  <div id="cats">
    <div class="cat">
      <h4>CONTACTS</h4>
      <span><fa-icon [icon]="faPhone"></fa-icon><a>+5 555 5555 5555</a></span>
      <span><fa-icon [icon]="faEnv"></fa-icon><a>wired@world.com</a></span>
      <span><fa-icon [icon]="faMarker"></fa-icon><a>Almaty, Tole bi 59</a></span>
    </div>
    <div class="cat">
      <h4>INFORMATION</h4>
      <span><a>About</a></span>
      <span><a>Help</a></span>
      <span><a>News</a></span>
      <span><a>Sitemap</a></span>
    </div>
    <div class="cat">
      <h4>LEGAL</h4>
      <span><a>Privacy policy</a></span>
      <span><a>Terms and conditions</a></span>
      <span><a>Cookies policy</a></span>
      <span><a>Contacts</a></span>
    </div>
    <div class="cat">
      <p id="connect">Connect with us</p>
      <span id="logos">
        <fa-icon [icon]="faFB"></fa-icon>
        <fa-icon [icon]="faYT"></fa-icon>
        <fa-icon [icon]="faTR"></fa-icon>
        <fa-icon [icon]="faWA"></fa-icon>
        <fa-icon [icon]="faIG"></fa-icon>
      </span>
    </div>
  </div>
  <div id="copy">
    <hr>
    <p>Wired World&copy; 2023 all rights reserved.</p>
  </div>
</footer>
