<header>
  <div id="logo">
    <img src="assets/logo.png">
    <h5>Wired World</h5>
  </div>
  <div id="search">
    <select>
      <option value="resistors">Resistors</option>
      <option value="capacitors">Capacitors</option>
      <option value="transistors">Transistors</option>
      <option value="inductors">Inductors</option>
      <option value="connectors">Connectors</option>
      <option value="wires">Wires&amp;Cables</option>
      <option value="ics">ICs</option>
      <option value="diodes">Diodes&amp;LEDs</option>
      <option value="memory">Memory</option>
      <option value="power">Power</option>
    </select>
    <input type="text" placeholder="Part no./Keyword">
    <button><fa-icon [icon]="faSearch"></fa-icon></button>
    <span id="check"><input type="checkbox"><p>In stock</p></span>
  </div>
</header>
