<app-header></app-header>
<app-navbar></app-navbar>
<div class="footer-link" style="background-image:url('../../../assets/umberto-jXd2FSvcRr8-unsplash.jpg')">
  <div class="subfooter-wrapper" style="color:#FBFCFF">
    <h1>
      About us
    </h1>
    <p>
      Wired World&trade; is an electronics distribution company founded in Kazakhstan in the year 2023.
      We cooperate with a plethora of different respected manufacturers all around the globe to provide you
      with electronic parts <b>YOU</b> need! Browse our vast library of more than 100 electronic components
      including various resistors, transistors, capacitors, connectors, integrated circuits, connectors and
      much much more! Our collective consists of highly qualified professionals in the fields of electrical
      engineering, hardware and software engineering. We're also interested in hiring specialists in the fields
      of marketing, management, online distribution, logistics. At Wired World&trade; we believe in honest work
      and self-improvement through knowledge, that is why we will be opening online courses for all electronics
      enthusiasts in the near future, so stay tuned!
    </p>
  </div>
</div>
<app-footer></app-footer>
