<app-header></app-header>
<app-navbar></app-navbar>
<div class="footer-link" style="background-image:url('../../../assets/yogesh-phuyal-mjwGKmwkDDA-unsplash.jpg')">
  <div class="subfooter-wrapper" style="color:#FBFCFF">
    <h1>
      News
    </h1>
    <h3>
      New products
    </h3>
    <p>
      <a>Here</a> you can find links to our newest products from our trusted manufacturers!
    </p>
    <h3>
      <i>-"We need more foreign investments"</i>
    </h3>
    <p>
      Said our CEO on the 7th annual meeting of the board of directors.
    </p>
    <h3>
      We're hiring!
    </h3>
    <p>
      We are looking for responsible, experienced professionals in their respective fields who are willing to grow
      both as professionals and personally. There are 5 vacancies as of now:
    </p>
    <ul>
      <li>Senior Hardware Engineer: 10000$</li>
      <li>Middle Software Engineer: 5000$</li>
      <li>Junior Software Engineer: 2000$</li>
      <li>Project manager: 6000$</li>
      <li>PR manager: 3000$</li>
    </ul>
  </div>
</div>
<app-footer></app-footer>
