<app-header></app-header>
<app-navbar></app-navbar>
<div class="footer-link" style="background-image:url('../../../assets/chris-ried-bN5XdU-bap4-unsplash.jpg')">
  <div class="subfooter-wrapper" style="color:#FBFCFF">
    <h1>
      Contacts
    </h1>
      <p><b>+5 555 5555 5555</b>  wired@world.com - Call-center</p>
      <p><b>+5 554 5454 5454</b> ww_ceo@gmail.com - Keanu Reeves, CEO of Wired World</p>
      <p><b>+5 455 4545 4545</b> ww_hr@gmail.com - Arnold Schwarzenegger, HR Department</p>
      <p><b>+5 545 5454 5454</b> ww_pr@gmail.com - Jim Carrey, PR Department</p>
  </div>
</div>
<app-footer></app-footer>
