<app-header></app-header>
<app-navbar></app-navbar>
<main>
  <section>
    <h3><fa-icon [icon]="faInfo"></fa-icon>Information:</h3>
    <div id="image">
      <img *ngIf="u.img" src="{{u.img}}">
      <fa-icon *ngIf="!u.img" [icon]="faUser"></fa-icon>
    </div>
    <p><b>Email: </b>{{u.email}}</p>
    <p><b>Username: </b>{{u.username}}</p>
    <form>
      <label for="img">Image: </label>
      <input name="img" type="file" id="img">
      <label for="fname">First name: </label>
      <input name="fname" type="text" maxlength="255" id="fname" value="{{u.fname}}">
      <label for="lname">Last name: </label>
      <input name="lname" type="text" maxlength="255" id="lname" value="{{u.lname}}">
      <label for="phone">Phone number: </label>
      <input name="phone" type="tel" maxlength="255" id="phone" value="{{u.phone}}">
      <label for="address">Address: </label>
      <input name="address" type="text" maxlength="255" id="address" value="{{u.address}}">
      <label for="card_num">16-Digit card number: </label>
      <input name="card_num" type="text" maxlength="16" id="card_num" value="{{u.card_num}}">
      <label for="ver_num">Verification number: </label>
      <input name="ver_num" type="text" maxlength="4" id="ver_num" value="{{u.ver_num}}">
      <label for="exp_date">Credit card expiration date: </label>
      <input name="exp_date" type="date" id="exp_date" value="{{u.exp_date}}">
      <button>Save</button>
    </form>
  </section>
  <section>
    <h3><fa-icon [icon]="faGear"></fa-icon>Preferences:</h3>
    <app-user-pref></app-user-pref>
  </section>
  <section>
    <h3><fa-icon [icon]="faHistory"></fa-icon>History:</h3>
    <app-user-history></app-user-history>
  </section>
</main>
<app-footer></app-footer>
