main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
h1 {
  font-size: 2.5rem;
  padding: 1em;
}
.cat_descr {
  margin-top: 1em;
}
.card img {
  border-radius: .5em;
  max-width: 100%;
}
@media screen and (max-width: 768px) {
  main {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 769px) and (max-width: 1200px) {
  main {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
