main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
h1 {
  font-size: 2.5rem;
  padding: 1em;
}
.cat_descr {
  margin-top: auto;
  margin-bottom: 2em;
}
.card img {
  border-radius: .5em;
  max-width: 100%;
}
